﻿@model Johan.DATA.tblProduct
@{
    ViewBag.Title = "প্রোডাক্ট";
}
<script src="~/App/Components/Product/productController.js"></script>
<script src="~/App/Components/Product/productService.js"></script>

<div ng-controller="productController" class="row">
    <div class="col-md-4">
        <form class="form-horizontal" name="productForm" novalidate>
            <div class="form-group">
                <div class="col-sm-8 col-md-offset-2">
                    <h2>প্রোডাক্ট</h2>
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-4 control-label">প্রোডাক্টের নাম</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="name" data-ng-model="product.productName" required>
                </div>
                @*<span class="error" ng-show="productForm.name.$error.required">নাম খালি থাকতে পারবে না।</span>*@
            </div>
            <div class="form-group">
                <label for="parent" class="col-sm-4 control-label">মূল প্রোডাক্ট</label>
                <div class="col-sm-8">
                    <select class="form-control" required ng-model="product.parentId" ng-options="prod.ID as prod.productName for prod in parents">
                        <option value="Admin">প্রডাক্ট বাছাই করুন</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">

                    <button class="btn btn-success" ng-click="save()">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"> সেভ</span>
                    </button>
                    <button class="btn btn-success" ng-click="reset()">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"> রিসেট</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <div class="col-sm-8">
                <h2>প্রোডাক্টের লিস্ট</h2>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>নাম</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pr in products">
                        <td>{{pr.productName}}</td>
                        <td>
                            <button class="btn btn-default" value="Edit" ng-click="edit(pr)">
                                <span class="glyphicon glyphicon-pencil"></span>  পরিবর্তন

                            </button>
                            <button class="btn btn-default" value="Delete" ng-click="delete(pr)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"> মূছুন</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>



        </div>
    </div>
</div>

