﻿@{
    ViewBag.Title = "LoanBalance";
}

<script src="~/App/Components/Balance/balanceTransferCtrl.js"></script>
<script src="~/App/Components/Balance/balanceTransferSvc.js"></script>

<div class="row">
    <div style="height:20px;"></div>
</div>
<div ng-controller="balanceTransferCtrl" class="row">
    <div class="col-md-6">
        <form class="form-horizontal" name="balanceInfoForm" novalidate>
            <div class="form-group">
                <div class="col-sm-8 col-md-offset-2">
                    <h4>পার্টি জের</h4>
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-4 control-label">পার্টির নাম</label>
                <div class="col-sm-8">
                    <select class="form-control" jh-select="balanceInfo.partyName" ng-model="balanceInfo.partyId" ng-options="party.ID as party.name for party in parties" id="Party">
                        <option value=""></option>
                    </select>
                </div>

            </div>
            <div class="form-group">
                <label for="dueAmount" class="col-sm-4 control-label">জেরঃ</label>
                <div class="col-sm-6">
                    @*<input type="text" class="form-control" name="dueAmount" data-ng-model="balanceInfo.amount" required>*@
                    <bangla-number input-value="balanceInfo.amt" output-value="balanceInfo.amount" required="true" />
                </div>
                <p class="col-sm-2"><strong>টাকা</strong></p>
            </div>
            <div class="form-group">
                <label for="fromdate" class="col-md-4 control-label">তারিখঃ</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" ng-model="balanceInfo.date" id="date">
                </div>
                <script type="text/javascript">
                    $("#date").datepicker({ dateFormat: 'dd-mm-yy' });
                </script>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button class="btn btn-success" ng-click="save()">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"> সেভ</span>
                    </button>
                    <button class="btn btn-success" ng-click="reset()">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"> রিসেট</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="col-sm-8">
                <h4>পার্টির তালিকা</h4>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>পার্টির নাম</th>
                        <th>তারিখ</th>
                        <th>জের</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="bi in balanceInfos">
                        <td>{{bi.partyName}}</td>
                        <td>{{bi.date}}</td>
                        <td>{{bi.amount}}</td>
                        <td>
                            <button class="btn btn-default" value="Edit" ng-click="edit(bi)">
                                @*<span class="glyphicon glyphicon-pencil"></span>*@ পরিবর্তন
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-default" value="Delete" ng-click="delete(bi)">
                                @*<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>*@ মূছুন
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
