﻿@{
    ViewBag.Title = "ক্ষুদ বিক্রয়ের তথ্য";
}
<script src="~/App/Components/ParticleSell/particleSellController.js"></script>
<script src="~/App/Components/ParticleSell/particleSellService.js"></script>
<script src="~/App/Components/Product/productService.js"></script>
<script src="~/App/Components/Party/partyService.js"></script>

<div class="pageContainer" ng-controller="particleSellController">
    <div class="row">
        <div style="height: 30px;"></div>
    </div>

    <div class="row">

        <fieldset class="scheduler-border">
            <legend class="scheduler-border">ক্ষুদের তথ্য</legend>
        </fieldset>

        <form name="particleInfoForm" class="form-horizontal" novalidate>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="Party" class="col-md-4 control-label">পার্টিঃ</label>
                    <div class="col-md-8">
                        <select class="form-control" jh-select="particleInfo.partyName" ng-model="particleInfo.partyId" ng-options="party.ID as party.name for party in parties" id="Party">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="stock" class="col-md-4 control-label">স্টকঃ</label>
                    <div class="col-md-8">
                        <select class="form-control" ng-change="loadRice()" jh-select="particleInfo.stockName" ng-model="particleInfo.stockId" ng-options="stock.ID as stock.stockName for stock in stocks" id="stock">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="particle" class="col-md-4 control-label">ক্ষুদঃ</label>
                    <div class="col-md-8">
                        <select class="form-control" jh-select="particleInfo.productName" ng-model="particleInfo.productId" ng-options="particle.ID as particle.productName for particle in particles" id="particle">
                            <option value=""></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="date" class="col-md-4 control-label">তারিখঃ</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="particleInfo.date" id="date">
                    </div>
                    <script type="text/javascript">
                        $("#date").datepicker({ dateFormat: 'dd-mm-yy' });
                    </script>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="rcperbag" class="col-md-4 control-label">প্রতি ব্যাগে ক্ষুদঃ</label>
                    <div class="col-md-8">
                        <label>
                            <bangla-number input-value="particleInfo.qty" output-value="particleInfo.quantity" required="true" />
                        </label> কেজি
                        @*<input type="number" class="form-control" ng-model="particleInfo.quantity" id="rcperbag">*@
                    </div>
                </div>
                <div class="form-group">
                    <label for="prpermon" class="col-md-4 control-label">প্রতি কেজির মূল্যঃ</label>
                    <div class="col-md-8">
                        @*<input type="number" class="form-control" ng-model="particleInfo.unitPrice" id="prpermon" />*@
                        <label>
                            <bangla-number input-value="particleInfo.uPrice" output-value="particleInfo.unitPrice" required="false" />
                        </label>
                        @*<div class="checkbox">
                                <label><input type="checkbox" ng-model="particleInfo.isMon" /> মণ</label>
                            </div>*@

                    </div>
                </div>
                <div class="form-group">
                    <label for="totbag" class="col-md-4 control-label">মোট ব্যাগঃ</label>
                    <div class="col-md-8">
                        <bangla-number input-value="particleInfo.noBag" output-value="particleInfo.noOfBag" required="true" />
                        @*<input type="number" class="form-control" ng-model="particleInfo.noOfBag" id="totbag">*@
                    </div>
                </div>
                <div class="form-group">
                    <label for="totprice" class="col-md-4 control-label">মোট মূল্য</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" readonly ng-model="particleInfo.totalpr" ng-click="getTotal()" id="totprice">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="paid" class="col-md-4 control-label">প্রদানকৃত টাকাঃ</label>
                    <div class="col-md-8">
                        <bangla-number input-value="particleInfo.paidAmnt" output-value="particleInfo.paidAmount" required="false" />
                        @*<input type="number" class="form-control" ng-model="particleInfo.paidAmount" id="paid" />*@
                    </div>
                </div>
                <div class="form-group">
                    <label for="trcost" class="col-md-4 control-label">পরিবহন খরচঃ</label>
                    <div class="col-md-8">
                        @*<input type="number" class="form-control" ng-model="particleInfo.transportCost" id="trcost" />*@
                        <bangla-number input-value="particleInfo.transCost" output-value="particleInfo.transportCost" required="false" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="trno" class="col-md-4 control-label">ট্রাক নাম্বারঃ</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="particleInfo.truckNumber" id="trno">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">

                    <button class="btn btn-success" ng-click="save()">
                        সেভ
                        @*<span class="glyphicon glyphicon-save" aria-hidden="true"> Save</span>*@
                    </button>
                    <button class="btn btn-success" ng-click="reset()">
                        রিসেট
                        @*<span class="glyphicon glyphicon-refresh" aria-hidden="true"> Reset</span>*@
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <a data-toggle="collapse" data-target="#demo" href="#">বিক্রয়ের তালিকা</a>
            </legend>
            <div class="gridStyle" ui-grid="gridOptions"></div>
        </fieldset>
    </div>
</div>