﻿@model Johan.DATA.tblIncomeSource
@{
    ViewBag.Title = "বাকির খাত";
}
<script src="~/App/Components/DuePayment/duePaymentCltr.js"></script>
<script src="~/App/Components/DuePayment/duePaymentSvc.js"></script>
<script src="~/App/Components/Party/partyService.js"></script>
<script src="~/App/Components/Sector/sectorService.js"></script>


<div ng-controller="duePaymentCltr" class="row">
    <div class="col-md-4">
        <form class="form-horizontal" name="duePaymentForm">
            <div class="form-group">
                <div class="col-sm-8 col-md-offset-2">
                    <h2>বাকির খাত</h2>
                </div>
            </div>

            <div class="form-group">
                <label for="Party" class="col-sm-4 control-label">পার্টির নাম</label>
                <div class="col-sm-8">
                    <select class="form-control" jh-select="duePayment.partyName" data-ng-model="duePayment.partyId" ng-options="party.ID as party.name for party in parties" ng-change="getDuePaymentInfos()" id="Party">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="Party" class="col-sm-4 control-label">উৎসের নাম</label>
                <div class="col-sm-8">
                    <select class="form-control" data-ng-model="sector" ng-options="sector.elementName for sector in sectors" ng-change="selectSector()" id="Party">
                        <option value=""></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="area" class="col-sm-4 control-label">মূল্য</label>
                <div class="col-sm-8">
                    @*<input type="number" class="form-control" name="area" data-ng-model="duePayment.amount" required>*@
                    <bangla-number input-value="duePayment.amt" output-value="duePayment.amount" required="true" />
                </div>
            </div>

            <div class="form-group">
                <label for="date" class="col-md-4 control-label">তারিখ</label>
                <div class="input-group date col-md-8">
                    <input class="form-control" size="16" id="date" name="date" ng-model="duePayment.date" type="text" required>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <script type="text/javascript">
                    $("#date").datepicker();
                </script>

            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">

                    <button class="btn btn-success" ng-click="save()">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"> সেভ</span>
                    </button>
                    <button class="btn btn-success" ng-click="reset()">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"> রিসেট</span>
                    </button>
                </div>
            </div>

        </form>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <div class="col-sm-8">
                <h2>বাকির খাতের তালিকা</h2>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>পার্টির নাম</th>
                        <th>টাকার পরিমাণ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="dp in duePayments">
                        <td>{{dp.partyName}}</td>
                        <td>{{dp.openingBalance}}</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


