﻿@{
    ViewBag.Title = "Husk Sell Info";
}
<script src="~/App/Components/HuskSell/huskSellController.js"></script>
<script src="~/App/Components/HuskSell/huskSellService.js"></script>
<script src="~/App/Components/Product/productService.js"></script>
<script src="~/App/Components/Party/partyService.js"></script>
<div class="pageContainer" ng-controller="huskSellController">

    <div class="row">
        <div style="height: 30px;"></div>
    </div>

    <div class="row">

        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Husk Information</legend>
        </fieldset>

        <form class="form-horizontal" name="huskSellForm" novalidate>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="Party" class="col-md-4 control-label">Party:</label>
                    <div class="col-md-8">
                        <select class="form-control" ng-model="huskInfo.partyId" ng-options="party.ID as party.name for party in parties" id="Party">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="date" class="col-md-4 control-label">Date:</label>
                    <div class="col-md-8">
                        <input type="date" class="form-control" ng-model="huskInfo.date" id="date">
                    </div>
                </div>
                <div class="form-group">
                    <label for="trcost" class="col-md-4 control-label">Transport Cost:</label>
                    <div class="col-md-8">
                        @*<input type="text" class="form-control" ng-model="huskInfo.transportCost" id="trcost" />*@
                        <bangla-number input-value="huskInfo.Cost" output-value="huskInfo.transportCost" required="false" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="paid" class="col-md-4 control-label">Paid Amount:</label>
                    <div class="col-md-8">
                        @*<input type="text" class="form-control" ng-model="huskInfo.paidAmount" id="paid" />*@
                        <bangla-number input-value="huskInfo.Amount" output-value="huskInfo.paidAmount" required="false" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="stock" class="col-md-4 control-label">Stock:</label>
                    <div class="col-md-8">
                        <select class="form-control" ng-model="huskInfo.stockId" ng-options="stock.ID as stock.stockName for stock in stocks" id="husk">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="rcperbag" class="col-md-4 control-label">Husk Per Bag:</label>
                    <div class="col-md-8">
                        @*<input type="text" class="form-control" ng-model="huskInfo.quantityPerBag" id="rcperbag">*@
                        <bangla-number input-value="huskInfo.quantityBag" output-value="huskInfo.quantityPerBag" required="true" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="prpermon" class="col-md-4 control-label">Price Per Mon:</label>
                    <div class="col-md-8">
                        @*<input type="text" class="form-control" ng-model="huskInfo.price" id="prpermon">*@
                        <bangla-number input-value="huskInfo.prc" output-value="huskInfo.price" required="true" />
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="totbag" class="col-md-4 control-label">Total Bag:</label>
                    <div class="col-md-8">
                        @*<input type="text" class="form-control" ng-model="huskInfo.noOfBag" id="totbag">*@
                        <bangla-number input-value="huskInfo.noBag" output-value="huskInfo.noOfBag" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="totprice" class="col-md-4 control-label">Total Price:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="huskInfo.totPrice" id="totprice">
                    </div>
                </div>
                <div class="form-group">
                    <label for="trno" class="col-md-4 control-label">Truck No:</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="huskInfo.truckNumber" id="trno">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">

                    <button class="btn btn-success" ng-click="save(huskInfo)">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"> Save</span>
                    </button>
                    <button class="btn btn-success" ng-click="reset()">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"> Reset</span>
                    </button>
                </div>
            </div>

        </form>
    </div>

    <div class="row">
        <fieldset class="fsStyle">
            <legend class="legendStyle">
                <a data-toggle="collapse" data-target="#demo" href="#">Sell List</a>
            </legend>
            @*<div ui-grid="{ data: myData }" class="myGrid"></div>*@
            <div class="gridStyle" ui-grid="gridOptions"></div>
        </fieldset>
    </div>
</div>