﻿<!DOCTYPE html>
<html ng-app='johanApp'>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>সেলস ম্যানেজমেন্ট সফটওয়্যার</title>

    @*css files*@
    @Styles.Render("~/Content/css")
    <link href="~/Assets/css/style.css" rel="stylesheet" />
    <link href="~/Assets/css/jquery-ui-1.11.4.css" rel="stylesheet" />
    <link href="~/Assets/libs/UiGrid/ui-grid-unstable.css" rel="stylesheet" />

    @*3rd party libraries*@
    <script src="~/Assets/js/jquery-1.10.2.min.js"></script>
    <script src="~/Assets/libs/angular-1.3.14/angular.min.js"></script>
    <script src="~/Assets/libs/angular-1.3.14/angular-route.js"></script>
    <script src="~/Assets/js/jquery.validate.min.js"></script>
    <script src="~/Assets/js/jquery-ui-1.11.4.js"></script>
    <script src="~/Assets/libs/angular-1.3.14/angular-animate.min.js"></script>
    <script src="~/Assets/libs/UiGrid/ui-grid-unstable.js"></script>
    @Scripts.Render("~/bundles/modernizr")

    @*custom jquery files*@
    <script src="~/App/app.js"></script>
    <script src="~/App/Shared/Services/baseDataSvc.js"></script>
    <script src="~/App/Shared/Services/convertSvc.js"></script>
    <script src="~/App/Shared/Directives/Validation.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("জোহান এগ্রো ফুড", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("হোম", "Index", "Home")</li>
                    <li class="dropdown">
                        <a aria-expanded="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">স্টক ম্যানেজমেন্ট<span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li>@Html.ActionLink("স্টক সমূহ", "StockIndex", "Stock")</li>
                            <li><a href="/#">ধানের স্টক</a></li>
                            <li>@Html.ActionLink("প্রোডাক্টের স্টক", "ProductStock", "Stock")</li>
                            <li>@Html.ActionLink("ক্ষুদের স্টক", "ParticleStock", "ParticleSell")</li>
                            <li>@Html.ActionLink("জের স্থানান্তর", "BalanceIndex", "BalanceTransfer")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a aria-expanded="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">রিপোর্ট<span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="/#">ধানের রিপোর্ট</a></li>
                            <li>@Html.ActionLink("প্রোডাক্টের রিপোর্ট", "rptRiceInfo", "Rice")</li>
                            @*<li>@Html.ActionLink("ক্ষুদের রিপোর্ট", "rptParticleInfo", "ParticleSell")</li>*@
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a aria-expanded="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">বিক্রয় সমূহ <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li>@Html.ActionLink("চাল বিক্রয়", "RiceInfoIndex", "Rice")</li>
                            <li>@Html.ActionLink("তুষ বিক্রয়", "HuskInfoIndex", "HuskSell")</li>
                            <li>@Html.ActionLink("ক্ষুদ বিক্রয়", "ParticleInfoIndex", "ParticleSell")</li>
                            <li>@Html.ActionLink("ধান গ্রহণ", "PaddyInfoIndex", "Paddy")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a aria-expanded="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">খাত সমূহ <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li>@Html.ActionLink("খরচের খাত", "ConsumptionIndex", "Consumption")</li>
                            <li>@Html.ActionLink("ইনকামের খাত", "IncomeIndex", "Income")</li>
                            <li>@Html.ActionLink("বাকির খাত", "Index", "DuePayment")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a aria-expanded="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">বেসিক সেটআপ <span class="caret"></span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li>@Html.ActionLink("বাবহারকারী", "Index", "User")</li>
                            <li>@Html.ActionLink("পার্টি", "Index", "Party")</li>
                            <li>@Html.ActionLink("লোনার", "LoanerIndex", "Loaner")</li>
                            <li>@Html.ActionLink("খাত", "SectorIndex", "Sector")</li>
                            <li>@Html.ActionLink("জোন", "zone", "Sector")</li>
                            <li>@Html.ActionLink("জেলা", "district", "Sector")</li>
                            <li>@Html.ActionLink("প্রোডাক্ট", "ProductIndex", "Product")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("আমাদের সম্পর্কে", "About", "Home")</li>
                    @*<li>@Html.ActionLink("যোগাযোগ", "Contact", "Home")</li>*@

                    <li>@Html.ActionLink("সাইন আউট", "Login", "Login")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><img src="~/Assets/images/logo.jpg" /> </li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
        </div>
    </div>
    <div class="container body-content" style="min-height:400px;">
        @RenderBody()

    </div>
    <hr />
    <footer>
        <div>
            <div class="col-md-6 col-md-offset-4">
                <p>&copy; @DateTime.Now.Year - Development By Johan Group</p>
            </div>
        </div>

    </footer>

    @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
