﻿@model Johan.DATA.tblUser
@{
    ViewBag.Title = "ব্যাবহারকারী";
}
<script src="~/App/Components/User/userService.js"></script>
<script src="~/App/Components/User/userController.js"></script>

<div class="row">
    <div style="height:20px;"></div>
</div>

<div ng-controller="userController" class="row">
    <div class="col-md-4">
        <form class="form-horizontal" name="userForm" novalidate>
            <div class="form-group">
                <div class="col-sm-8 col-md-offset-2">
                    <h4>ব্যবহারকারী</h4>
                </div>
            </div>

            <div class="form-group">
                <label for="userId" class="col-sm-4 control-label">ব্যবহারকারীর আইডি</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="userId" data-ng-model="user.userId" required>
                </div>
            </div>
            <div class="form-group">
                <label for="userPassword" class="col-sm-4 control-label">পাসওয়ার্ড</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="userPassword" data-ng-model="user.password" required>
                </div>
            </div>
            <div class="form-group">
                <label for="firstName" class="col-sm-4 control-label">প্রথম নাম</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="firstName" data-ng-model="user.firstName" required>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="col-sm-4 control-label">শেষ নাম</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="lastName" data-ng-model="user.lastName">
                </div>
            </div>
            <div class="form-group">
                <label for="userType" class="col-sm-4 control-label">ব্যাবহারকারীর ধরন</label>
                <div class="col-sm-8">
                    <select class="form-control" ng-model="user.userType">
                        <option value="Admin">এডমিন</option>
                        <option value="Super Admin">সুপার এডমিন</option>
                        <option value="User">সাধারণ</option>
                    </select>
                    <span class="error" ng-show="userForm.userType.$error.required">required</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">

                    <button type="button" class="btn btn-success" ng-click="Save()">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"> সেভ</span>
                    </button>
                    <button class="btn btn-success" ng-click="reset()">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"> রিসেট</span>
                    </button>
                </div>
            </div>

        </form>
    </div>

    <div class="col-md-8">
        <div class="form-group">
            <div class="col-sm-8">
                <h4>ব্যবহারকারীর তালিকা</h4>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1">আইডি</th>
                        <th class="col-md-2">প্রথম নাম</th>
                        <th class="col-md-2">শেষ নাম</th>
                        <th class="col-md-3">ব্যাবহারকারীর ধরন</th>
                        <th class="col-md-2"></th>
                        <th class="col-md-2"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ui in users">
                        <td>{{ui.userId}}</td>
                        <td>{{ui.firstName}}</td>
                        <td>{{ui.lastName}}</td>
                        <td>{{ui.userType}}</td>
                        <td>
                            <button class="btn btn-default" value="Edit" ng-click="edit(ui)">
                                @*<span class="glyphicon glyphicon-pencil"></span>*@ পরিবর্তন
                            </button></td>
                            <td><button class="btn btn-default" value="Delete" ng-click="delete(ui)">
                                @*<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>*@মূছুন
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

