﻿@model Johan.DATA.tblCostingSource
@{
    ViewBag.Title = "খরচের খাত";
}
<script src="~/App/Components/Consumption/consumptionController.js"></script>
<script src="~/App/Components/Consumption/consumptionService.js"></script>
<script src="~/App/Components/Sector/sectorService.js"></script>
<div ng-controller="consumptionController" class="row">
    <div class="col-md-4">
        <form class="form-horizontal" name="consumptionForm">
            <div class="form-group">
                <div class="col-sm-8 col-md-offset-2">
                    <h2>খরচের খাত</h2>
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-4 control-label">খাতের নাম</label>
                <div class="col-sm-8">
                    <select type="text" class="form-control" name="name" data-ng-model="sector"
                            ng-options="sector.elementName for sector in sectors" ng-change="selectSector()" required>
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="contactNo" class="col-sm-4 control-label">বর্ণনা</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="contactNo" data-ng-model="consumption.srcDescription">
                </div>
            </div>

            <div class="form-group">
                <label for="area" class="col-sm-4 control-label">মূল্য</label>
                <div class="col-sm-8">
                   
                        @*<input type="number" class="form-control" name="area" data-ng-model="consumption.amount" required>*@
                        <bangla-number  input-value="consumption.amt" output-value="consumption.amount" required="true" />
                    
                    
                </div>
            </div>

            <div class="form-group">
                <label for="date" class="col-md-4 control-label">তারিখ</label>
                <div class="input-group date col-md-8">
                    <input class="form-control" size="16" id="date" name="date" ng-model="consumption.date" type="text" required>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <script type="text/javascript">
                    $("#date").datepicker();
                </script>

            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">

                    <button class="btn btn-success" ng-click="save(consumption)">
                        <span class="glyphicon glyphicon-save" aria-hidden="true"> সেভ</span>
                    </button>
                    <button class="btn btn-success" ng-click="reset()">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"> রিসেট</span>
                    </button>
                </div>
            </div>

        </form>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <div class="col-sm-8">
                <h2>খরচের খাতের তালিকা</h2>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>খাতের নাম</th>
                        <th>বর্ণনা</th>
                        <th>তারিখ</th>
                        <th>মূল্য</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ln in consumptions">
                        <td>{{ln.sourceName}}</td>
                        <td>{{ln.srcDescription}}</td>
                        <td>{{ln.date}}</td>
                        <td>{{ln.amount}}</td>
                        <td>
                            <button class="btn btn-default" value="Edit" ng-click="edit(ln)">
                                <span class="glyphicon glyphicon-pencil">পরিবর্তন</span>  
                            </button></td>
                        <td>
                            <button class="btn btn-default" value="Delete" ng-click="delete(ln)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"> মূছুন</span>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

