﻿@model Johan.DATA.tblCommonElement
@{
    ViewBag.Title = "জেলা";
}
<script src="~/App/Components/District/districtController.js"></script>
<script src="~/App/Components/District/districtService.js"></script>
<div class="row">
    <div style="height:20px;"></div>
</div>
<div ng-controller="districtCtlr" class="row">
    <div class="col-md-4">
        <form class="form-horizontal" name="districtForm" novalidate>
            <div class="form-group">
                <div class="col-sm-8 col-md-offset-2">
                    <h4>জেলা</h4>
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-sm-4 control-label">জেলার নাম</label>
                <div class="col-sm-8" ng-class="{ 'has-error' : districtForm.name.$invalid && submitted }">
                    <input type="text" class="form-control" name="name" data-ng-model="district.elementName" required>
                </div>
                <p ng-show="districtForm.name.$invalid && submitted" class="help-block col-lg-offset-4">জেলার ঘর খালি থাকতে পারবে না।</p>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">

                    <button class="btn btn-success" ng-click="save()" ng-disabled="districtForm.$invalid && submitted">
                        <span class="glyphicon glyphicon-save" aria-hidden="true">সেভ</span>
                    </button>
                    <button class="btn btn-success" ng-click="reset()">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true">রিসেট</span>
                    </button>
                </div>
            </div>

        </form>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <div class="col-sm-8">
                <h4>জেলা সমুহ</h4>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>নাম</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="zn in districts">
                        <td>{{zn.elementName}}</td>
                        <td>
                            <button class="btn btn-default" value="Edit" ng-click="edit(zn)">
                                <span class="glyphicon glyphicon-pencil"></span>পরিবর্তন
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-default" value="Delete" ng-click="delete(zn)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true">মূছুন</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>